<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/q.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/custom.css">
    <title>Sistema De Gestión</title>

</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class=p-2>
                <img src="./images/QMC_LOGO.png" alt="QMC">
            </div>
        </div>
        <div style="text-align: justify">
            <h1>Welcome</h1>
            <h3>Our new platform is comming soon!</h3>
            <h3>See more about Quality and Manufacturing Consulting at <a
                    href="http://qmcmex.com/">http://qmcmex.com/</a></h3>
        </div>


        <p id="message"></p>
    </div>
    <!-- Custom Theme Scripts -->
    <script src="../scripts/jquery.js"></script>
    <script src="./css/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/notify.js"></script>

</body>

</html>